# Error analysis on consistency
- inspect cases where w/o an anchor model goes wrong, while with an anchor the model gave correct predictions

In [1]:
import json
import pandas as pd 
from collections import Counter, defaultdict 
from utils_path import dataset_to_respath

def get_dataset_to_respath(dataset_to_respath, print_flag=False):
    # remote path 
    #dataset_to_respath = {'hypernymsuite-BLESS': 'log/bert-large-uncased/hypernymsuite/BLESS/exp_data_results_anchor_type_Coordinate_remove_Y_PUNC_FULL_concate_or_single_max_anchor_num_10_anchor_scorer_probAvg_filter_obj_True_filter_objects_with_input_True_wnp_True_cpt_False.HYPERNYMSUITE.csv', 'lm_diagnostic_extended-singular': 'log/bert-large-uncased/lm_diagnostic_extended/singular/exp_data_results_anchor_type_Coordinate_remove_Y_PUNC_FULL_concate_or_single_max_anchor_num_10_anchor_scorer_probAvg_filter_obj_True_filter_objects_with_input_True_wnp_True_cpt_False.LM_DIAGNOSTIC_EXTENDED.csv', 'clsb-singular': 'log/bert-large-uncased/clsb/singular/exp_data_results_anchor_type_Coordinate_remove_Y_PUNC_FULL_concate_or_single_max_anchor_num_10_anchor_scorer_probAvg_filter_obj_True_filter_objects_with_input_True_wnp_True_cpt_False.CLSB.csv', 'hypernymsuite-LEDS': 'log/bert-large-uncased/hypernymsuite/LEDS/exp_data_results_anchor_type_Coordinate_remove_Y_PUNC_FULL_concate_or_single_max_anchor_num_10_anchor_scorer_probAvg_filter_obj_True_filter_objects_with_input_True_wnp_True_cpt_False.HYPERNYMSUITE.csv', 'hypernymsuite-EVAL': 'log/bert-large-uncased/hypernymsuite/EVAL/exp_data_results_anchor_type_Coordinate_remove_Y_PUNC_FULL_concate_or_single_max_anchor_num_10_anchor_scorer_probAvg_filter_obj_True_filter_objects_with_input_True_wnp_True_cpt_False.HYPERNYMSUITE.csv', 'hypernymsuite-SHWARTZ': 'log/bert-large-uncased/hypernymsuite/SHWARTZ/exp_data_results_anchor_type_Coordinate_remove_Y_PUNC_FULL_concate_or_single_max_anchor_num_10_anchor_scorer_probAvg_filter_obj_True_filter_objects_with_input_True_wnp_True_cpt_False.HYPERNYMSUITE.csv'}
    
    source_dir = 'spartan:~/cogsci/DAP/'
    target_dir = '../../'
    dataset_to_localpath = defaultdict()
    dataset_rename = {
        'hypernymsuite-BLESS': 'BLESS', 'lm_diagnostic_extended-singular': 'DIAG', 'clsb-singular':'CLSB', 'hypernymsuite-LEDS': 'LEDS', 'hypernymsuite-EVAL': 'EVAL', 'hypernymsuite-SHWARTZ': 
        "SHWARTZ"
    }
    dataset_name_to_relpath = defaultdict()
    for dataset, path in dataset_to_respath.items():
        path = path.replace(".tsv", ".csv")
        source_path = source_dir + path 
        dataset_l1 = dataset.split("-")[0]
        dataset_l2 = dataset.split("-")[1] 
        target_path = target_dir + path
        
        scp_string = f"!scp {source_path} {target_path}"
        if print_flag:
            print(scp_string)
            print()
#         print(target_path)
        dataset_to_localpath[dataset_rename[dataset]] = target_path 
        dataset_name_to_relpath[dataset_rename[dataset]] = "/".join(dataset.split('-'))
#     print(dataset_to_localpath)
    return dataset_to_localpath, dataset_name_to_relpath

dataset_to_localpath, dataset_name_to_relpath = get_dataset_to_respath(dataset_to_respath)
print(json.dumps(dataset_to_localpath, indent=4))
# print(dataset_name_to_relpath)

def read_anchors(path_pl, anchor_source, debug=False):
    '''
    read the anchor files mined from singualr and plural
    
    args: 
        anchor_soure: using the anchors mined from singular probe or plural probe
        
    return: 
        dic_sub_to_anchors_singular: both sub_label and subj_anchors are singular 
        dic_sub_to_anchors_plural: both sub_label and subj_anchors are plural 
    '''
#     dfsg = pd.read_csv(path_sg)
#     dfsg['subj_anchors'] = dfsg['subj_anchors'].apply(lambda x: eval(x))
    
#     dfpl = pd.read_csv(path_pl)
#     dfpl['subj_anchors'] = dfpl['subj_anchors'].apply(lambda x: eval(x))
#     df = pd.merge(dfsg, dfpl, on = 'uuid', suffixes=('_sg', '_pl'))
# if anchor_source == 'plural':
#         #convert the singular anchors into singular format
#         df['subj_anchors_sg'] = df['subj_anchors_pl'].progress_apply(lambda x: [singularize(word) for word in x])
#     elif anchor_source == 'singular':
#         #convert the plural anchors into singular format
#         df['subj_anchors_pl'] = df['subj_anchors_sg'].progress_apply(lambda x: [pluralize(word) for word in x])

    df = pd.read_csv(path_pl)
    
    if debug: df = df.head(5)
    df['subj_anchors_sg'] = df['subj_anchors_sg'].apply(lambda x: eval(x))
    df['subj_anchors_pl'] = df['subj_anchors_pl'].apply(lambda x: eval(x))
        
    dic_sub_to_anchors_singular = dict(zip(df['sub_label_sg'], df['subj_anchors_sg']))
    dic_sub_to_anchors_plural = dict(zip(df['sub_label_pl'], df['subj_anchors_pl']))
    
    return dic_sub_to_anchors_singular, dic_sub_to_anchors_plural

{
    "BLESS": "../../log/bert-large-uncased/hypernymsuite/BLESS/exp_data_results_anchor_type_Coordinate_remove_Y_PUNC_FULL_concate_or_single_max_anchor_num_5_anchor_scorer_probAvg_filter_obj_True_filter_objects_with_input_True_wnp_False_cpt_False.HYPERNYMSUITE.csv",
    "DIAG": "../../log/bert-large-uncased/lm_diagnostic_extended/singular/exp_data_results_anchor_type_Coordinate_remove_Y_PUNC_FULL_concate_or_single_max_anchor_num_5_anchor_scorer_probAvg_filter_obj_True_filter_objects_with_input_True_wnp_False_cpt_False.LM_DIAGNOSTIC_EXTENDED.csv",
    "CLSB": "../../log/bert-large-uncased/clsb/singular/exp_data_results_anchor_type_Coordinate_remove_Y_PUNC_FULL_concate_or_single_max_anchor_num_5_anchor_scorer_probAvg_filter_obj_True_filter_objects_with_input_True_wnp_False_cpt_False.CLSB.csv",
    "LEDS": "../../log/bert-large-uncased/hypernymsuite/LEDS/exp_data_results_anchor_type_Coordinate_remove_Y_PUNC_FULL_concate_or_single_max_anchor_num_5_anchor_scorer_probAvg_filter_obj_True_filter_objects_with_input_True_wnp_False_cpt_False.HYPERNYMSUITE.csv",
    "EVAL": "../../log/bert-large-uncased/hypernymsuite/EVAL/exp_data_results_anchor_type_Coordinate_remove_Y_PUNC_FULL_concate_or_single_max_anchor_num_5_anchor_scorer_probAvg_filter_obj_True_filter_objects_with_input_True_wnp_False_cpt_False.HYPERNYMSUITE.csv",
    "SHWARTZ": "../../log/bert-large-uncased/hypernymsuite/SHWARTZ/exp_data_results_anchor_type_Coordinate_remove_Y_PUNC_FULL_concate_or_single_max_anchor_num_5_anchor_scorer_probAvg_filter_obj_True_filter_objects_with_input_True_wnp_False_cpt_False.HYPERNYMSUITE.csv"
}

In [2]:
from utils_path import dataset_to_respath
dataset_to_localpath, dataset_name_to_relpath = get_dataset_to_respath(dataset_to_respath)

# for dataset, data_path in dataset_to_localpath.items():
#     dic_sub_to_anchors_singular,dic_sub_to_anchors_plural = read_anchors(data_path, data_path, anchor_source='plural', debug=False)


def concept_evaluation(label, pred):
    '''
    
    label: a list with the singualr and plural labels (e.g., ['tool', 'tools'])
    pred: the top K prediction list 

    return:
        1 if label share with pred else 0  
    '''
    if not isinstance(label, list):
        # label = eval(label)
        label = [label]
        
    if not isinstance(pred, list):
        print(type(pred), pred)
        pred = eval(pred)

    shared = set(label).intersection(set(pred))
    return 1 if len(shared)>0 else 0

## Pairwise Consistency

In [ ]:
from scipy import stats 
dataset_to_respath={
    "CLSB": "../../log/bert-large-uncased/clsb/singular/consistency/",
    "BLESS": "../../log/bert-large-uncased/hypernymsuite/BLESS/consistency/",
    "EVAL": "../../log/bert-large-uncased/hypernymsuite/EVAL/consistency/",
    "LEDS": "../../log/bert-large-uncased/hypernymsuite/LEDS/consistency/",
    "DIAG": "../../log/bert-large-uncased/lm_diagnostic_extended/singular/consistency/",
    "SHWARTZ": "../../log/bert-large-uncased/hypernymsuite/SHWARTZ/consistency/"
}

## Group Consistency

In [6]:

from scipy import stats 
dataset_to_respath={
    "CLSB": "../../log/bert-large-uncased/clsb/singular/consistency_group/",
    "BLESS": "../../log/bert-large-uncased/hypernymsuite/BLESS/consistency_group/",
    "EVAL": "../../log/bert-large-uncased/hypernymsuite/EVAL/consistency_group/",
    "LEDS": "../../log/bert-large-uncased/hypernymsuite/LEDS/consistency_group/",
    "DIAG": "../../log/bert-large-uncased/lm_diagnostic_extended/singular/consistency_group/",
    "SHWARTZ": "../../log/bert-large-uncased/hypernymsuite/SHWARTZ/consistency_group/"
}

out_cols = ['sub_label_singular', 'obj_label_singular',
       'sub_label_plural', 'obj_label_plural', 'uuid', 'relation',
       'mask_sentences_plural_1', 'mask_sentences_plural_2',
       'mask_sentences_plural_3', 'mask_sentences_plural_4',
       'mask_sentences_plural_5', 'mask_sentences_plural_6',
       'obj_mask_sentence_pl_1', 'obj_mask_sentence_1_pl_score',
       'obj_mask_sentence_pl_2', 'obj_mask_sentence_2_pl_score',
       'obj_mask_sentence_pl_3', 'obj_mask_sentence_3_pl_score',
       'obj_mask_sentence_pl_4', 'obj_mask_sentence_4_pl_score',
       'obj_mask_sentence_pl_5', 'obj_mask_sentence_5_pl_score',
       'obj_mask_sentence_pl_6', 'obj_mask_sentence_6_pl_score', 
       'p1_pl_1','p1_pl_2',  'p1_pl_3', 
       'p1_pl_4', 'p1_pl_5', 'p1_pl']

def evaluate(df, pattern_num, mask_type, dataset):
    df_res=[]
    for k in [10]:
        # for i, (pred_col_sg, pred_col_pl) in enumerate(zip(pred_col_sg, pred_col_pl), start=1):
        for i in range(1, pattern_num+1):
            df[f'p1_sg_{i}'] = df[['obj_label_singular', f'obj_mask_sentence_sg_{i}']].apply(lambda x: concept_evaluation(x[0], eval(x[1])[:k]), axis=1 )
            df[f'p1_pl_{i}'] = df[['obj_label_plural', f'obj_mask_sentence_pl_{i}']].apply(lambda x: concept_evaluation(x[0], eval(x[1])[:k]), axis=1 )

        pred_col_sg_p1 = [x for x in df.columns if 'p1_sg_' in x ]
        pred_col_pl_p1 = [x for x in df.columns if 'p1_pl_' in x ]


        df['p1_sg'] = df[pred_col_sg_p1].apply(lambda x: int(all(ele == 1 for ele in x)), axis=1)
        df['p1_pl'] = df[pred_col_pl_p1].apply(lambda x: int(all(ele == 1 for ele in x)), axis=1)

        df['p1_sgpl'] = df[['p1_sg', 'p1_pl']].apply(lambda x: 1 if x[0]==1 and x[1]==1 else 0, axis=1)

        acc_sg = round(df['p1_sg'].sum()/len(df.index) * 100, 1)
        acc_pl = round(df['p1_pl'].sum()/len(df.index)* 100, 1) 
        acc_sgpl = round(df['p1_sgpl'].sum()/len(df.index)* 100, 1) 
        
        acc_consistency = acc_pl if 'lsp' in mask_type else acc_sg 
        df_res.append({"dataset":dataset, "mask_type":mask_type, "K":k, 'Consistency': acc_consistency})
        #df_res.append({"K":k, 'Singular': acc_sg, 'Plural': acc_pl, 'Paired Singular-Plural': acc_sgpl})
    print(df_res)
    return  df, df_res 
    

min_pvalue = 0.05
df_res_all = []
# for mask_type in [['lsp_sap', 'lsp_dap']]: #['def_sap', 'def_dap'], 
for mask_type in [['def_sap', 'def_dap'], ['lsp_sap', 'lsp_dap']]: #, 
    print(mask_type)
    pattern_num = 6 if 'lsp' in mask_type[0] else 3
    metric = 'p1_pl' if 'lsp' in mask_type[0] else 'p1_sg'
    for dataset, path in dataset_to_respath.items():
        #if dataset!='CLSB': continue 
        dic_sub_to_anchors_singular, dic_sub_to_anchors_plural = read_anchors(dataset_to_localpath[dataset] , anchor_source='plural', debug=False)
        
        suffix1 = f'IsA.{mask_type[0]}.csv'
        suffix2 = f'IsA.{mask_type[1]}.csv'

        df1 = pd.read_csv(path+suffix1).sort_values(by='uuid')
        display(df1.head())
        
#         df1, df_res1 = evaluate(df1, pattern_num=pattern_num, mask_type=mask_type[0], dataset=dataset)
#         df_res_all.extend(df_res1)
# #         display(df1.head())
        
        
        
#         df2 = pd.read_csv(path+suffix2).sort_values(by='uuid')
#         df2, df_res2 = evaluate(df2, pattern_num=pattern_num, mask_type=mask_type[1], dataset=dataset)
#         df_res_all.extend(df_res2)
        
#         statistic, pvalue = stats.ttest_rel(df1[metric], df2[metric])
#         reject_np = True if pvalue < min_pvalue else False
#         print(dataset, reject_np) #, statistic, pvalue, len(df1.index), len(df2.index))
               
# #     print("-"*80)
# df_res_all = pd.DataFrame(df_res_all)
# display(df_res_all)


# # for name, group in df_res_all.sort_values(by='dataset').groupby(['dataset']):
# #     display(group.sort_values('mask_type', ascending=False)[['dataset','mask_type', 'Consistency']].T)
# from df_to_latex import DataFrame2Latex
# df_orig = df_res_all
# prompt_rename = {'def_sap': '\dfp', 'lsp_sap': r'\lsp', 'def_dap': r'\dfpa', 'lsp_dap': r'\lspa'}
# # df_orig['mask_type'] = df_orig['mask_type'].apply(lambda x: prompt_rename.get(x))
# display(df_orig)
# dataset_list = ['BLESS', 'DIAG', 'CLSB', 'SHWARTZ', 'EVAL', 'LEDS']

# df = []
# for dataset in dataset_list: #customize the dataset order 
    
#     group_cur = df_orig.query(f"dataset == '{dataset}'")
#     display(group_cur)
#     group_p = group_cur.pivot_table(index=['mask_type'], columns=['dataset'], 
#                                     values= ['Consistency'] , sort=False) #'Singular', 'Plural', 
#     display(group_p)
#     group_p = group_p.sort_index(axis=1, level=-1, ascending=False) #sort the metrics columns 
#     group_p = group_p.swaplevel(0, 1, axis=1) # put the dataset on the topper level 
#     #display(group_p) 
#     df.append(group_p)
# df = pd.concat(df, axis=1)#.iloc[:, 1:]
# #df = df.reindex(['\dfp', '\dfpa', '\lsp',  '\lspa']) #(axis=0, ascending=False)
# DataFrame2Latex(df=df, label=f'tab:consistency_pairprobes_p@{name}', 
#         caption=f'Experimental results on pairwise probes across datasets P@{name}', 
#         output_file= None , #'../log/paper_results/latex.test.tex',
#         adjustbox_width = 'textwidth',
#         precision = 1,
#         column_format='l|llll|llll|llll|llll|llll|llll',
#         multicolumn_format='c|'
#         )

['def_sap', 'def_dap']

,Unnamed: 0,sub_label_singular,obj_label_singular,sub_label_plural,obj_label_plural,uuid,relation,mask_sentences_singular_1,mask_sentences_singular_2,mask_sentences_singular_3,...,obj_mask_sentence_sg_3_score,obj_mask_sentence_pl_3,obj_mask_sentence_3_pl_score,p1_sg_1,p1_pl_1,p1_sg_2,p1_pl_2,p1_sg,p1_pl,p1_sgpl
0,0,aeroplane,vehicle,aeroplanes,vehicles,1,IsA,an aeroplane is a type of [MASK].,an aeroplane is a kind [MASK].,an aeroplane is a [MASK].,...,"{'plane': -5.430296225218525, 'biplane': -7.54...","['companies', 'subsidiaries', 'manufacturers',...","{'company': -7.332616498307204, 'subsidiary': ...",1,0,1,0,1,0,0
1,1,alligator,animal,alligators,animals,3,IsA,an alligator is a type of [MASK].,an alligator is a kind [MASK].,an alligator is a [MASK].,...,"{'fish': -7.292829009024019, 'monster': -8.504...","['games', 'novels', 'nicknames', 'fishes', 'sp...","{'game': -9.913544057725787, 'novel': -10.0037...",1,1,1,1,1,1,1
2,2,alligator,predator,alligators,predators,5,IsA,an alligator is a type of [MASK].,an alligator is a kind [MASK].,an alligator is a [MASK].,...,"{'fish': -7.292829009024019, 'monster': -8.504...","['games', 'novels', 'nicknames', 'fishes', 'sp...","{'game': -9.913544057725787, 'novel': -10.0037...",0,0,0,0,0,0,0
3,3,ambulance,vehicle,ambulances,vehicles,7,IsA,an ambulance is a type of [MASK].,an ambulance is a kind [MASK].,an ambulance is a [MASK].,...,"{'car': -8.0740543058224, 'helicopter': -8.913...","['jokes', 'subsidiaries', 'possibilities', 'se...","{'joke': -9.302451170268942, 'subsidiary': -9....",1,1,1,0,1,0,0
4,4,ambulance,van,ambulances,vans,8,IsA,an ambulance is a type of [MASK].,an ambulance is a kind [MASK].,an ambulance is a [MASK].,...,"{'car': -8.0740543058224, 'helicopter': -8.913...","['jokes', 'subsidiaries', 'possibilities', 'se...","{'joke': -9.302451170268942, 'subsidiary': -9....",0,0,0,0,0,0,0

,Unnamed: 0,sub_label_singular,obj_label_singular,sub_label_plural,obj_label_plural,uuid,relation,mask_sentences_singular_1,mask_sentences_singular_2,mask_sentences_singular_3,...,obj_mask_sentence_sg_3_score,obj_mask_sentence_pl_3,obj_mask_sentence_3_pl_score,p1_sg_1,p1_pl_1,p1_sg_2,p1_pl_2,p1_sg,p1_pl,p1_sgpl
0,0,catfish,fish,catfish,fishes,3,IsA,a catfish is a type of [MASK].,a catfish is a kind [MASK].,a catfish is a [MASK].,...,"{'fish': -4.41527165606457, 'swimmer': -10.906...","['fishes', 'languages', 'species', 'possibilit...","{'fish': -6.384739557073677, 'language': -9.57...",1,1,1,1,1,1,1
1,1,musket,firearm,muskets,firearms,4,IsA,a musket is a type of [MASK].,a musket is a kind [MASK].,a musket is a [MASK].,...,"{'firearm': -5.34726826704134, 'cannon': -7.00...","['nicknames', 'puns', 'novels', 'nouns', 'game...","{'nickname': -10.376282978195869, 'pun': -10.4...",1,1,1,0,1,0,0
2,2,lemon,produce,lemons,produce,5,IsA,a lemon is a type of [MASK].,a lemon is a kind [MASK].,a lemon is a [MASK].,...,"{'lime': -10.166459516569857, 'berry': -10.881...","['nicknames', 'puns', 'vegetables', 'lemons', ...","{'nickname': -9.861238368713558, 'pun': -9.906...",0,0,0,0,0,0,0
3,3,turtle,beast,turtles,beasts,7,IsA,a turtle is a type of [MASK].,a turtle is a kind [MASK].,a turtle is a [MASK].,...,"{'bird': -7.745652912745286, 'fish': -8.281596...","['games', 'novels', 'puns', 'dinosaurs', 'nick...","{'game': -9.407827230829602, 'novel': -9.81470...",0,0,0,0,0,0,0
4,4,bag,luggage,bags,luggage,8,IsA,a bag is a type of [MASK].,a bag is a kind [MASK].,a bag is a [MASK].,...,"{'suitcase': -9.867761228605595, 'sack': -10.3...","['men', 'girls', 'women', 'dogs', 'geniuses', ...","{'man': -10.26044567899847, 'girl': -10.361874...",1,0,0,0,0,0,0

,Unnamed: 0,sub_label_singular,obj_label_singular,sub_label_plural,obj_label_plural,uuid,relation,mask_sentences_singular_1,mask_sentences_singular_2,mask_sentences_singular_3,...,obj_mask_sentence_sg_3_score,obj_mask_sentence_pl_3,obj_mask_sentence_3_pl_score,p1_sg_1,p1_pl_1,p1_sg_2,p1_pl_2,p1_sg,p1_pl,p1_sgpl
0,0,accident,error,accidents,errors,1,IsA,an accident is a type of [MASK].,an accident is a kind [MASK].,an accident is a [MASK].,...,"{'mistake': -6.604061857774812, 'disaster': -7...","['possibilities', 'problems', 'words', 'lots',...","{'possibility': -9.241449818566268, 'problem':...",0,0,0,0,0,0,0
1,1,accident,mistake,accidents,mistakes,2,IsA,an accident is a type of [MASK].,an accident is a kind [MASK].,an accident is a [MASK].,...,"{'mistake': -6.604061857774812, 'disaster': -7...","['possibilities', 'problems', 'words', 'lots',...","{'possibility': -9.241449818566268, 'problem':...",0,0,1,0,0,0,0
2,2,action,event,actions,events,3,IsA,an action is a type of [MASK].,an action is a kind [MASK].,an action is a [MASK].,...,"{'statement': -8.80118516612525, 'process': -8...","['verbs', 'rules', 'words', 'languages', 'poss...","{'verb': -7.400610805723494, 'rule': -9.560346...",0,0,0,0,0,0,0
3,3,action,work,actions,works,4,IsA,an action is a type of [MASK].,an action is a kind [MASK].,an action is a [MASK].,...,"{'statement': -8.80118516612525, 'process': -8...","['verbs', 'rules', 'words', 'languages', 'poss...","{'verb': -7.400610805723494, 'rule': -9.560346...",0,0,0,0,0,0,0
4,4,actor,person,actors,persons,5,IsA,an actor is a type of [MASK].,an actor is a kind [MASK].,an actor is a [MASK].,...,"{'performer': -6.683164210977081, 'singer': -7...","['companies', 'subsidiaries', 'websites', 'pro...","{'company': -8.850413248938594, 'subsidiary': ...",1,0,1,1,1,0,0

,Unnamed: 0,sub_label_singular,obj_label_singular,sub_label_plural,obj_label_plural,uuid,relation,mask_sentences_singular_1,mask_sentences_singular_2,mask_sentences_singular_3,...,obj_mask_sentence_sg_3_score,obj_mask_sentence_pl_3,obj_mask_sentence_3_pl_score,p1_sg_1,p1_pl_1,p1_sg_2,p1_pl_2,p1_sg,p1_pl,p1_sgpl
0,0,etching,art,etches,arts,1,IsA,an etching is a type of [MASK].,an etching is a kind [MASK].,an etching is a [MASK].,...,"{'drawing': -5.798399279520061, 'painting': -6...","['republicans', 'christians', 'democrats', 'ca...","{'republican': -6.445968251326782, 'christian'...",1,0,0,0,0,0,0
1,1,decrease,change,decreases,changes,3,IsA,a decrease is a type of [MASK].,a decrease is a kind [MASK].,a decrease is a [MASK].,...,"{'gain': -5.7393074717272645, 'loss': -8.16718...","['constants', 'functions', 'terms', 'decreases...","{'constant': -4.975688021318736, 'function': -...",1,0,1,0,1,0,0
2,2,dinghy,boat,dinghies,boats,4,IsA,a dinghy is a type of [MASK].,a dinghy is a kind [MASK].,a dinghy is a [MASK].,...,"{'boat': -5.004397139666262, 'yacht': -5.89915...","['games', 'rivers', 'puns', 'novels', 'nicknam...","{'game': -10.976272173442789, 'river': -11.078...",1,1,1,0,1,0,0
3,3,tie,clothing,ties,clothing,6,IsA,a tie is a type of [MASK].,a tie is a kind [MASK].,a tie is a [MASK].,...,"{'knot': -7.97647559933468, 'suit': -10.438381...","['puns', 'synonyms', 'novels', 'games', 'nouns...","{'pun': -9.824877501839348, 'synonym': -10.031...",1,1,0,0,0,0,0
4,4,batsman,athlete,batsmen,athletes,7,IsA,a batsman is a type of [MASK].,a batsman is a kind [MASK].,a batsman is a [MASK].,...,"{'bowler': -5.1947715533564525, 'catcher': -8....","['batsmen', 'classes', 'bowlers', 'lists', 'ga...","{'batsman': -8.101837506569257, 'class': -8.94...",1,1,0,0,0,0,0

,Unnamed: 0,sub_label_singular,obj_label_singular,sub_label_plural,obj_label_plural,uuid,relation,mask_sentences_singular_1,mask_sentences_singular_2,mask_sentences_singular_3,...,obj_mask_sentence_sg_3_score,obj_mask_sentence_pl_3,obj_mask_sentence_3_pl_score,p1_sg_1,p1_pl_1,p1_sg_2,p1_pl_2,p1_sg,p1_pl,p1_sgpl
0,0,graver,tool,gravers,tools,1,IsA,a graver is a type of [MASK].,a graver is a kind [MASK].,a graver is a [MASK].,...,"{'digger': -8.93893395450476, 'shovel': -8.996...","['republicans', 'democrats', 'christians', 'ca...","{'republican': -5.449980662810374, 'democrat':...",1,0,0,0,0,0,0
1,1,smallmouth,fish,smallmouths,fishes,2,IsA,a smallmouth is a type of [MASK].,a smallmouth is a kind [MASK].,a smallmouth is a [MASK].,...,"{'fish': -4.648060742066287, 'catfish': -6.835...","['languages', 'genera', 'species', 'possibilit...","{'language': -7.953646405633218, 'genus': -8.7...",1,1,1,1,1,1,1
2,2,pelican,bird,pelicans,birds,3,IsA,a pelican is a type of [MASK].,a pelican is a kind [MASK].,a pelican is a [MASK].,...,"{'bird': -5.553109751033401, 'parrot': -7.7402...","['novels', 'films', 'bands', 'nicknames', 'web...","{'novel': -9.17748673908793, 'film': -9.758507...",1,1,1,0,1,0,0
3,3,sapsucker,bird,sapsuckers,birds,4,IsA,a sapsucker is a type of [MASK].,a sapsucker is a kind [MASK].,a sapsucker is a [MASK].,...,"{'snake': -7.64518889675958, 'worm': -8.365534...","['games', 'websites', 'novels', 'blogs', 'podc...","{'game': -8.466077176199322, 'website': -8.704...",0,0,0,0,0,0,0
4,4,mako,fish,makos,fishes,5,IsA,a mako is a type of [MASK].,a mako is a kind [MASK].,a mako is a [MASK].,...,"{'fish': -9.140592458399126, 'canoe': -9.49322...","['christians', 'catholics', 'republicans', 've...","{'christian': -7.11477655828624, 'catholic': -...",1,1,0,0,0,0,0

,Unnamed: 0,sub_label_singular,obj_label_singular,sub_label_plural,obj_label_plural,uuid,relation,mask_sentences_singular_1,mask_sentences_singular_2,mask_sentences_singular_3,...,obj_mask_sentence_sg_3_score,obj_mask_sentence_pl_3,obj_mask_sentence_3_pl_score,p1_sg_1,p1_pl_1,p1_sg_2,p1_pl_2,p1_sg,p1_pl,p1_sgpl
0,0,golo,river,golos,rivers,1,IsA,a golo is a type of [MASK].,a golo is a kind [MASK].,a golo is a [MASK].,...,"{'donkey': -9.386454120927187, 'dog': -9.57830...","['rivers', 'villages', 'mountains', 'towns', '...","{'river': -9.565050555625927, 'village': -10.1...",0,0,0,0,0,0,0
1,1,kerrobert,town,kerroberts,towns,2,IsA,a kerrobert is a type of [MASK].,a kerrobert is a kind [MASK].,a kerrobert is a [MASK].,...,"{'robot': -11.235335545962947, 'locomotive': -...","['republicans', 'christians', 'catholics', 'de...","{'republican': -6.717773855334244, 'christian'...",0,0,0,0,0,0,0
2,2,geometria,film,geometrias,films,3,IsA,a geometria is a type of [MASK].,a geometria is a kind [MASK].,a geometria is a [MASK].,...,"{'manifold': -7.614068420494564, 'dimension': ...","['genera', 'languages', 'constellations', 'bac...","{'genus': -6.913900476085869, 'language': -10....",0,0,0,0,0,0,0
3,3,evaporation,place,evaporations,places,4,IsA,an evaporation is a type of [MASK].,an evaporation is a kind [MASK].,an evaporation is a [MASK].,...,"{'process': -6.78303252631676, 'precipitation'...","['constants', 'processes', 'verbs', 'problems'...","{'constant': -8.301088678114683, 'process': -8...",0,0,0,0,0,0,0
4,4,bonehead,band,boneheads,bands,5,IsA,a bonehead is a type of [MASK].,a bonehead is a kind [MASK].,a bonehead is a [MASK].,...,"{'person': -9.745047064447833, 'drummer': -10....","['bands', 'blogs', 'websites', 'novels', 'film...","{'band': -7.063270486581882, 'blog': -9.423517...",0,0,0,0,0,0,0

['lsp_sap', 'lsp_dap']

,Unnamed: 0,sub_label_singular,obj_label_singular,sub_label_plural,obj_label_plural,uuid,relation,mask_sentences_singular_1,mask_sentences_singular_2,mask_sentences_singular_3,...,p1_pl_2,p1_sg_3,p1_pl_3,p1_sg_4,p1_pl_4,p1_sg_5,p1_pl_5,p1_sg,p1_pl,p1_sgpl
0,0,aeroplane,vehicle,aeroplanes,vehicles,1,IsA,[MASK] such as an aeroplane.,"[MASK], including an aeroplane.","[MASK], especially an aeroplane.",...,1,0,1,1,1,1,1,0,1,0
1,1,alligator,animal,alligators,animals,3,IsA,[MASK] such as an alligator.,"[MASK], including an alligator.","[MASK], especially an alligator.",...,1,1,1,1,1,1,1,1,1,1
2,2,alligator,predator,alligators,predators,5,IsA,[MASK] such as an alligator.,"[MASK], including an alligator.","[MASK], especially an alligator.",...,1,0,1,1,1,1,1,0,1,0
3,3,ambulance,vehicle,ambulances,vehicles,7,IsA,[MASK] such as an ambulance.,"[MASK], including an ambulance.","[MASK], especially an ambulance.",...,1,0,1,1,1,1,1,0,1,0
4,4,ambulance,van,ambulances,vans,8,IsA,[MASK] such as an ambulance.,"[MASK], including an ambulance.","[MASK], especially an ambulance.",...,0,0,0,0,0,0,0,0,0,0

,Unnamed: 0,sub_label_singular,obj_label_singular,sub_label_plural,obj_label_plural,uuid,relation,mask_sentences_singular_1,mask_sentences_singular_2,mask_sentences_singular_3,...,p1_pl_2,p1_sg_3,p1_pl_3,p1_sg_4,p1_pl_4,p1_sg_5,p1_pl_5,p1_sg,p1_pl,p1_sgpl
0,0,catfish,fish,catfish,fishes,3,IsA,[MASK] such as a catfish.,"[MASK], including a catfish.","[MASK], especially a catfish.",...,1,1,1,1,1,1,1,1,1,1
1,1,musket,firearm,muskets,firearms,4,IsA,[MASK] such as a musket.,"[MASK], including a musket.","[MASK], especially a musket.",...,1,1,1,1,1,0,1,0,1,0
2,2,lemon,produce,lemons,produce,5,IsA,[MASK] such as a lemon.,"[MASK], including a lemon.","[MASK], especially a lemon.",...,0,0,0,0,0,0,0,0,0,0
3,3,turtle,beast,turtles,beasts,7,IsA,[MASK] such as a turtle.,"[MASK], including a turtle.","[MASK], especially a turtle.",...,0,0,0,0,0,0,0,0,0,0
4,4,bag,luggage,bags,luggage,8,IsA,[MASK] such as a bag.,"[MASK], including a bag.","[MASK], especially a bag.",...,1,0,1,0,1,0,0,0,0,0

,Unnamed: 0,sub_label_singular,obj_label_singular,sub_label_plural,obj_label_plural,uuid,relation,mask_sentences_singular_1,mask_sentences_singular_2,mask_sentences_singular_3,...,p1_pl_2,p1_sg_3,p1_pl_3,p1_sg_4,p1_pl_4,p1_sg_5,p1_pl_5,p1_sg,p1_pl,p1_sgpl
0,0,accident,error,accidents,errors,1,IsA,[MASK] such as an accident.,"[MASK], including an accident.","[MASK], especially an accident.",...,0,0,0,0,0,0,0,0,0,0
1,1,accident,mistake,accidents,mistakes,2,IsA,[MASK] such as an accident.,"[MASK], including an accident.","[MASK], especially an accident.",...,0,0,0,0,0,0,0,0,0,0
2,2,action,event,actions,events,3,IsA,[MASK] such as an action.,"[MASK], including an action.","[MASK], especially an action.",...,1,0,0,1,1,1,1,0,0,0
3,3,action,work,actions,works,4,IsA,[MASK] such as an action.,"[MASK], including an action.","[MASK], especially an action.",...,0,0,0,0,0,1,0,0,0,0
4,4,actor,person,actors,persons,5,IsA,[MASK] such as an actor.,"[MASK], including an actor.","[MASK], especially an actor.",...,0,0,0,1,1,0,1,0,0,0

,Unnamed: 0,sub_label_singular,obj_label_singular,sub_label_plural,obj_label_plural,uuid,relation,mask_sentences_singular_1,mask_sentences_singular_2,mask_sentences_singular_3,...,p1_pl_2,p1_sg_3,p1_pl_3,p1_sg_4,p1_pl_4,p1_sg_5,p1_pl_5,p1_sg,p1_pl,p1_sgpl
0,0,etching,art,etches,arts,1,IsA,[MASK] such as an etching.,"[MASK], including an etching.","[MASK], especially an etching.",...,0,1,0,0,0,0,0,0,0,0
1,1,decrease,change,decreases,changes,3,IsA,[MASK] such as a decrease.,"[MASK], including a decrease.","[MASK], especially a decrease.",...,1,0,0,1,1,1,1,0,0,0
2,2,dinghy,boat,dinghies,boats,4,IsA,[MASK] such as a dinghy.,"[MASK], including a dinghy.","[MASK], especially a dinghy.",...,1,1,1,1,1,1,1,1,1,1
3,3,tie,clothing,ties,clothing,6,IsA,[MASK] such as a tie.,"[MASK], including a tie.","[MASK], especially a tie.",...,0,0,0,0,0,1,0,0,0,0
4,4,batsman,athlete,batsmen,athletes,7,IsA,[MASK] such as a batsman.,"[MASK], including a batsman.","[MASK], especially a batsman.",...,0,0,0,1,0,1,0,0,0,0

,Unnamed: 0,sub_label_singular,obj_label_singular,sub_label_plural,obj_label_plural,uuid,relation,mask_sentences_singular_1,mask_sentences_singular_2,mask_sentences_singular_3,...,p1_pl_2,p1_sg_3,p1_pl_3,p1_sg_4,p1_pl_4,p1_sg_5,p1_pl_5,p1_sg,p1_pl,p1_sgpl
0,0,graver,tool,gravers,tools,1,IsA,[MASK] such as a graver.,"[MASK], including a graver.","[MASK], especially a graver.",...,0,0,0,1,1,1,1,0,0,0
1,1,smallmouth,fish,smallmouths,fishes,2,IsA,[MASK] such as a smallmouth.,"[MASK], including a smallmouth.","[MASK], especially a smallmouth.",...,1,1,1,1,1,1,1,1,1,1
2,2,pelican,bird,pelicans,birds,3,IsA,[MASK] such as a pelican.,"[MASK], including a pelican.","[MASK], especially a pelican.",...,1,1,1,1,1,1,1,1,1,1
3,3,sapsucker,bird,sapsuckers,birds,4,IsA,[MASK] such as a sapsucker.,"[MASK], including a sapsucker.","[MASK], especially a sapsucker.",...,0,0,0,0,0,0,0,0,0,0
4,4,mako,fish,makos,fishes,5,IsA,[MASK] such as a mako.,"[MASK], including a mako.","[MASK], especially a mako.",...,1,0,0,1,0,0,0,0,0,0

,Unnamed: 0,sub_label_singular,obj_label_singular,sub_label_plural,obj_label_plural,uuid,relation,mask_sentences_singular_1,mask_sentences_singular_2,mask_sentences_singular_3,...,p1_pl_2,p1_sg_3,p1_pl_3,p1_sg_4,p1_pl_4,p1_sg_5,p1_pl_5,p1_sg,p1_pl,p1_sgpl
0,0,golo,river,golos,rivers,1,IsA,[MASK] such as a golo.,"[MASK], including a golo.","[MASK], especially a golo.",...,0,0,0,0,0,0,0,0,0,0
1,1,kerrobert,town,kerroberts,towns,2,IsA,[MASK] such as a kerrobert.,"[MASK], including a kerrobert.","[MASK], especially a kerrobert.",...,0,0,0,0,0,0,0,0,0,0
2,2,geometria,film,geometrias,films,3,IsA,[MASK] such as a geometria.,"[MASK], including a geometria.","[MASK], especially a geometria.",...,0,0,0,0,0,0,0,0,0,0
3,3,evaporation,place,evaporations,places,4,IsA,[MASK] such as an evaporation.,"[MASK], including an evaporation.","[MASK], especially an evaporation.",...,0,0,0,0,0,0,0,0,0,0
4,4,bonehead,band,boneheads,bands,5,IsA,[MASK] such as a bonehead.,"[MASK], including a bonehead.","[MASK], especially a bonehead.",...,0,0,0,0,0,0,0,0,0,0

In [12]:
len(eval(df1['obj_mask_sentence_1_pl_score'][0]).keys())

df1['obj_mask_sentence_pl_1'] = df1['obj_mask_sentence_1_pl_score'].apply(lambda x: eval(x).keys())



df[f'obj_mask_sentence_sg_{i}'] = df[f'obj_mask_sentence_sg_{i}'].apply(lambda x: merge_predictions_in_concept_level(  x, None, top_k))
    df[f'obj_mask_sentence_pl_{i}'] = df[f'obj_mask_sentence_pl_{i}'].apply(lambda x: merge_predictions_in_concept_level( x , singularize,  top_k))

20

In [ ]:
def read_df():
    
def get_predictions():
    
def